body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
  color: white;
}

/* Voting Screen */

.voting {
  user-select: none;

  button {
    height: 200px;
    width: 100%;
    background-color: #673AB7;
    border-width: 0;
  }
  button:first-child {
    border-bottom: 1px solid white;
  }
  button:active {
    background-color: white;
    color: #311B92;
  }
  button.voted {
    background-color: #311B92;
  }
  button:not(.voted) .label {
    visibility: hidden;
  }
  button .label {
    opacity: 0.87;
  }
  button.votedAgainst * {
    opacity: 0.3;
  }
}

/* Results Screen */

.results {
  .tally {
    flex: 1;

    justify-content: center;

    .entry {
      justify-content: space-around;
      align-items: center;
    }

    h1 {
      width: 25%;
    }

    .voteVisualization {
      height: 50px;

      background-color: #7E57C2;
    }

    .votesBlock {
      background-color: white;
      transition: width 0.5s;
    }

    .voteCount {
      font-size: 2rem;
    }
  }

  .management {
    height: 2em;
    border-top: 1px solid #aaa;
  }

  .management button {
    border: 0;
    background-color: black;
    color: #aaa;
  }
}

/* Winner View */

.winner {
  font-size: 4rem;
  text-align: center;
}